<!-- <mat-toolbar class="footer"> -->
<div class="footer">
  <div class="footer-content">
    <!-- Your custom SVG icon -->
    <a href=""><img src="../assets/icon/instacolor.png" alt="Logo" class="logo"></a>
    <a href=""><img src="../assets/icon/googlecolor.png" alt="Logo" class="logo"></a>
    <a href=""><img src="../assets/icon/linkedincolor.png" alt="Logo" class="logo"></a>
    <a href=""><img src="../assets/icon/twittercolor.png" alt="Logo" class="logo"></a>
    <a href=""><img src="../assets/icon/facebookcolor.png" alt="Logo" class="logo"></a>
    <!-- Text content -->
    
  </div>
  
  
  
<!--     -->
   <div class="container1">
     <h5 style="margin: 0px;">© 2024 MyOrpheusSabhaWebsite. All rights reserved.</h5>
    </div>
</div> 
  <!-- <div>
    
  </div> -->
<!-- </mat-toolbar> -->