<div class="container3">
    <div class="myabout">
        <img src="../assets/images/logo.png" alt="">
        <h1 style="padding-bottom: 10px;">About Us</h1>
        <p class="lead">Welcome to Orpheus, where dedication, innovation, and inclusivity converge to shape a transformative experience. At Orpheus, we believe in the power of collective growth, championing critical thinking, and fostering a culture of relentless innovation. Our commitment is unwavering, driven by a passion for nurturing excellence through rigorous yet pragmatic approaches.</p>
        <p class="lead">Our mission extends beyond mere education; it's about guiding our audience towards a realm of expanded knowledge and empowering them to articulate their thoughts with confidence. We value every individual's perspective, recognizing each opinion as a vital piece of our collective mosaic that shapes our path forward.</p>     
        <p class="lead">As a hybrid MUN (Model United Nations), we are deeply committed to democratizing our space. We believe that true and profound change comes from embracing diverse perspectives and wisdom from all quarters. Our aspirations know no bounds as we strive to elevate our mission to new heights, grounded in a steadfast commitment to excellence and inclusivity.</p>
        <p class="lead">Join us on this journey of exploration, learning, and growth as we collectively pave the way for a brighter future. Orpheus is not just an organization; it's a community dedicated to fostering understanding, collaboration, and positive change on a global scale. </p>
        
    </div>
    <!-- <section> -->
      <!-- <div class="container"> -->
        <!-- Other content -->
        <!-- <section class="border-section">
            <div class="border-content">
                <h1>Services</h1>
            </div>
        </section>
        <div style="padding: 10px;"></div> -->
        <section class="border-section">
            <div class="border-content">
                <h1>Services</h1>
            </div>
        </section>
        <div class="service-container" >
            <mat-card class="service-box" mat-elevation-z8>
              <img src="../assets/images/pic2.png" alt="Service 1 Image" style="width: 100%; height: 20%;" class="service-image">
              <mat-card-content>
                <h3 class="black-text">Service 1</h3>
                <p class="black-text">Description of service 1</p>
              </mat-card-content>
            </mat-card>
            <mat-card class="service-box" mat-elevation-z8>
              <img src="../assets/images/pic2.png" alt="Service 2 Image" style="width: 100%; height: 20%;" class="service-image">
              <mat-card-content>
                <h3 class="black-text">Service 2</h3>
                <p class="black-text">Description of service 2</p>
              </mat-card-content>
            </mat-card>
            <mat-card class="service-box" mat-elevation-z8>
              <img src="../assets/images/pic2.png" alt="Service 3 Image" style="width: 100%; height: 20%;" class="service-image">
              <mat-card-content>
                <h3 class="black-text">Service 3</h3>
                <p class="black-text">Description of service 3</p>
              </mat-card-content>
            </mat-card>
            <mat-card class="service-box" mat-elevation-z8>
                <img src="../assets/images/pic2.png" alt="Service 3 Image" style="width: 100%; height: 20%;" class="service-image">
                <mat-card-content>
                  <h3 class="black-text">Service 3</h3>
                  <p class="black-text">Description of service 3</p>
                </mat-card-content>
              </mat-card>
              <!-- <mat-card class="service-box" mat-elevation-z8>
                <img src="../assets/images/pic2.png" alt="Service 3 Image" style="width: 100%; height: 20%;" class="service-image">
                <mat-card-content>
                  <h3 class="black-text">Service 3</h3>
                  <p class="black-text">Description of service 3</p>
                </mat-card-content>
              </mat-card>   -->


            <!--  -->
          </div>
          <section class="border-section">
            <div class="border-content">
                <a routerLink="/contactus" style="color: white; text-decoration: none;"><h1 style=" text-shadow: 0 0 20px #ffffff;">Contact Us</h1></a>
            </div>
        </section>
        <!-- Other content -->
      <!-- </div> -->
    <!-- </section> -->
    <section id="contact" style="text-align: center; background-color: #deecec; padding-bottom: 60px;">
        <div>
          <div class="contact-info-container">
            <div class="contact-info-item">
              <p style="font-weight: bold;">Email:</p>
              <p>drishtikon&#64;dsnlu.ac.in</p>
            </div>
            <div class="contact-info-item">
              <p style="font-weight: bold;">Phone:</p>
              <p>+918824147278</p>
            </div>
            <div class="contact-info-item">
              <p style="font-weight: bold;">Address:</p>
              <p>M6M6+PCJ, Sudhir Bose Marg, Hindu College, University Enclave, Delhi, 110007, India</p>
            </div>
          </div>
        </div>
      </section>
    <!-- <div class="spa" style="background-color: #deecec"></div> -->
  </div>