
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="nav-link" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- <button class="animated-button click-shake circular-button" routerLink="/"> -->
      <!-- <span class="centered-row"><img src="../assets/images/logo.png" alt="Your Logo" style="max-height: 60px; font-family: 'myfont1', sans-serif;">ORPHEUS SABHA FOUNDATION</span> -->
    <!-- </button> -->
    <span class="spacer"></span>
    <ng-container *ngIf="!username || !accessToken; else loggedIn">
      <a mat-button routerLink="/login">
        <mat-icon>person</mat-icon> Login
      </a>
      <a mat-button routerLink="/signup">
        <mat-icon>person_add</mat-icon> Sign Up
      </a>
      
    </ng-container>
    <ng-template #loggedIn>
      <div style="display: flex; align-items: center;">
        <div style="color: white; font-family: 'myfont2', sans-serif;">Welcome, {{ username }}!</div>
        <button mat-button class="nav-link" (click)="logout()" style="margin-left: 8px; background-color: 	#b23b3b">
          <mat-icon>exit_to_app</mat-icon> Logout
        </button>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <!-- Sidebar (Sidenav) -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <h1>Menu</h1> -->
    <!-- Navigation links -->
    <mat-nav-list class="column-list">
      <img src="../assets/images/logo1.png" alt="logo"style="width: 100px;height: 100px;">
      <button mat-button routerLink="/home" routerLinkActive="active"class="nav-link"><mat-icon>home</mat-icon>Home</button>
      <button mat-button routerLink="/aboutus" routerLinkActive="active"class="nav-link"><mat-icon>info</mat-icon>About</button>
      <button mat-button routerLink="/contactus" routerLinkActive="active"class="nav-link"><mat-icon>mail</mat-icon>Contact</button>
      <button mat-button routerLink="/blog" routerLinkActive="active"class="nav-link"><mat-icon>article</mat-icon> Blog</button>
      <button mat-button routerLink="/payment" routerLinkActive="active"class="nav-link"><mat-icon>payment</mat-icon>Payment</button>
      <!-- Add more links as needed -->
    </mat-nav-list>
  </mat-drawer>

  <!-- Main content area -->
  <!-- <div class="example-sidenav-content"> -->
    <!-- Button to toggle sidenav -->
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle Menu
    </button> -->

    <!-- Content of your main page goes here -->
    <!-- Use Angular router-outlet to load different components based on the route -->
    <mat-drawer-content class="example-sidenav-content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>   
    </mat-drawer-content>
    
  <!-- </div> -->
  

</mat-drawer-container>

