<main class=bg style="margin-top: 0px; margin-bottom: 0px;overflow-x: hidden;">
    <div class="container">
        <!-- Carousel Section -->
        <section id="carouselSection" >
            <h2 class="display-4 landing-heading">Welcome to Orpheus Sabha Foundation!!</h2>
            <!-- Carousel -->
            <div class="carousel" #carousel>
              <div class="carousel-item">
                <img src="../assets/images/homepic1.JPG" alt="Image 1">
              </div>
              <div class="carousel-item">
                <img src="../assets/images/homepic2.png" alt="Image 2">
              </div>
              <div class="carousel-item">
                <img src="../assets/images/homepic3.JPG" alt="Image 3">
              </div>
            </div>
          </section>
        <!-- End Carousel Section -->
        <section class="border-section">
            <div class="border-content">
                <h2>Our Vision</h2>
            </div>
        </section>
        <div class="container1">
            <div class="section-wrapper" style="display: flex;">
                <!-- Second Section -->
                <section id="secondSection" class="py-5" style="margin-right: 20px;">
                    <div class="second-section-content">
                        <!-- Content of the second section goes here -->
                        <!-- <h2>Our Vision</h2> -->
                        <img src="../assets/images/vision.png" alt="" style="width: 650px; height: auto;">
                        <!-- <p>This is the content of the second section.</p> -->
                    </div>
                </section>
                <!-- End Second Section -->
        
                <!-- Third Section -->
                <section id="thirdSection" class="py-5" style="margin-left: 20px;">
                    <div class="third-section-content">
                        <!-- Content of the third section goes here -->
                        <p>Each member of the Orpheus team is committed to promoting collective progress, fostering critical thinking, and driving innovation. We dedicate ourselves to cultivating and elevating excellence through meticulousness and practicality. Our primary aim is to empower our audience by expanding their understanding and encouraging them to express their views. We value every perspective and strive to create an inclusive environment. To effect meaningful change, we are keen to learn from diverse sources and acknowledge the potential for improved outcomes.</p>
                        
                        <!-- More content here -->
                        <ul>
                            <li>Make MUNs and YPs Accessible.</li>
                            <li>Create awareness and outreach programs about MUNs.</li>
                            <li>Provide a platform that encourages discussions and debates.</li>
                            <li>Create leaders for tomorrow and equip themselves with skills such as strategy-making, negotiation, decision-making, and diplomacy.</li>
                            <li>Bring together eminent leaders including bureaucrats and diplomats the students and facilitate the exchange of knowledge and ideas.</li>
                        </ul>
                    </div>
                </section>
                <!-- End Third Section -->
            </div>
        </div>
        <section class="border-section">
            <div class="border-content">
                <h2>The Genesis of Our Journey</h2>
            </div>
        </section>
        <!-- Fourth Section -->
        <section id="fourthSection" class="py-5">
            <!-- Content of the fourth section goes here -->
                <!-- <h2>The Genesis of Our Journey</h2> -->
                <p>Picture this: May 2020, two visionary souls joined hands to birth 'Model United Nations At Home' (MUNAH). It wasn't just about hosting another MUN; it was a mission to break barriers, to open doors for every eager mind longing to speak up, to delve into research, and to master the art of oration.</p>
                <p>With sheer dedication, MUNAH earned its stripes as a UN-certified MUN. Across 40+ nations, over 700 passionate delegates came together virtually, making it a beacon of online MUN brilliance. But evolution was inevitable. Today, reborn as the 'Orpheus Sabha Foundation,' our journey takes a fresh turn, yet firmly rooted in our unwavering commitment to fairness, diversity, and inclusion.</p>
        </section>
        <!-- End Fourth Section -->
        <section class="border-section">
            <div class="border-content">
                <h2>Reviews</h2>
            </div>
        </section>
        <section id="fourthSection" class="py-5">
            <div class="example-card-container">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image1"></div>
                  <mat-card-title>Lavanya Jain</mat-card-title>
                  <mat-card-subtitle>Former Delegate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/images/pic5.png" alt="Photo Orpheus logo">
                <mat-card-content>
                  <p>
                    MUNAH is really not just a conference, but an experience I always cherish.
                     I have been a delegate multiple times and a co-chair once at MUN At Home, and the experience has always been wonderful. 
                     The team is welcoming and makes you feel comfortable.
                     Truly looking forward to working with the organisation again someday soon!
                  </p>
                  <div class="star-rating">
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star_border</mat-icon>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image2"></div>
                  <mat-card-title>Raffi AlMutava</mat-card-title>
                  <mat-card-subtitle>Former Chair</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/images/pic5.png" alt="Photo Orpheus logo">
                <mat-card-content>
                  <p>
                    MUNAH is really not just a conference, but an experience I always cherish.
                     I have been a delegate multiple times and a co-chair once at MUN At Home, and the experience has always been wonderful. 
                     The team is welcoming and makes you feel comfortable.
                     Truly looking forward to working with the organisation again someday soon!
                  </p>
                  <div class="star-rating">
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star_border</mat-icon>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image1"></div>
                  <mat-card-title>Lavanya Jain</mat-card-title>
                  <mat-card-subtitle>Former Delegate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/images/pic5.png" alt="Photo Orpheus logo">
                <mat-card-content>
                  <p>
                    MUNAH is really not just a conference, but an experience I always cherish.
                     I have been a delegate multiple times and a co-chair once at MUN At Home, and the experience has always been wonderful. 
                     The team is welcoming and makes you feel comfortable.
                     Truly looking forward to working with the organisation again someday soon!
                  </p>
                  <div class="star-rating">
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star</mat-icon>
                    <mat-icon class="star">star_border</mat-icon>
                    <mat-icon class="star">star_border</mat-icon>
                  </div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>  
          </section>
       
    </div>
</main>